<!DOCTYPE html>
<html>
<head>
	<title>Request1</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>
<style>
	body 
	{
      	background: rgba(255, 250, 250);
   	}
</style>
	<div class="output">
	<h5>Результирующая таблица:</h>
	</div>
	<table class="table table-bordered table-dark">
		<thead>
			<tr>
				<th scope="col">Специальность</th>
				<th scope="col">количество включений</th>
			</tr>
		</thead>
		<tbody>
		{%for ot in otchet%}
			<tr>
				<td align=center>{{ot['speciality']}}</td>
				<td align=center>{{ot['count']}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</html>